<!-- <div class="row">
    <div class="col-1 float-end">
        <div class="menu-flotante-display ">
            <h1><i class="bi bi-arrow-left-square-fill" style="font-size: 2rem; color: rgba(116, 116, 116, 0.356);"></i></h1>
        </div>
    </div> 
    <div class="row">
        <div class="col m-2">
            <app-search></app-search>
        </div>
        
        <div class="list-items">
            
            <app-card-item [data]="item" 
                            class="view-menu"
                            *ngFor="let item of data.list.item">
            </app-card-item>
        </div>
    </div>
</div>-->
